/* CSS Custom Properties */

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding: 2vmin; */
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #e4e4e4;
  margin: 0rem;
  color: #240046;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ! About and PP */
.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h1 {
  font-weight: bold;
}

.me-container-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.me-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.me-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#brand-statement {
  width: 50rem;
  display: flex;
  justify-content: center;
  width: 70vmin;
}

/* ? software imgs */
.software {
  display: grid; 
  grid-template-columns: repeat(6, 30px);
  grid-gap: 30px;
  padding: 15px
}

.software img{
  height: 40px;
  width: 40px;
  padding: 10px;
}

.software-container {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.software-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #240046;
  text-align: center;
  padding: 5px;
  visibility: hidden; /* Hide the text by default */
  opacity: 0;
  font-weight: bold;
}

.software-container:hover .software-text {
  visibility: visible;
  opacity: 1;
}
.software-container:hover .software-img {
  visibility: hidden;
  opacity: 0;
}

/* ! Photog */

.photog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

.photography {
  /* display: grid;
  grid-template-columns: 100% 100% 100% 100%;
  grid-gap: 20px 20px;  */
}

.photography img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 6px;
}

/* ! Nav */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100px;
  gap: 20px;
  background-color:  #240046;
  opacity: 0.7;
}

.nav-link {
  position: sticky;
  text-decoration: none;
  color: #e4e4e4;
  font-size: 2vmin;
}

.nav-link:hover {
  color: #fc6601;
  font-weight: bold;
}

/* ! Portfolio */

.portfolio-container{
  display: grid;
  grid-template-columns: 1fr;
  
}

.portfolio-container  img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px;
}

.mastermind-image{
  object-position: center top;
}

.portfolio-container a {
  grid-column: 2;
}

.port-image-container {
  grid-column: 2; /* Position the image in the "image" area */
  width: 50vmin;
  height: 50vmin;
  background-color: #240046;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 5px #9D4EDD;
  margin-bottom: 30px;
}

.port-image-container:hover {
  background-color: #FF6D00;
  box-shadow: 0 0 0 5px #FF9E00;
}

.project-container {
  display: grid;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-details {
  grid-column: 1; /* Position the h1 and p tags in the "proj" area */
}


.port-link {
  text-decoration: none;
  color: #240046;
}

.port-link:hover {
  text-decoration: underline;
  color: #fc6601;
}

/* ? Mastermind */
.mastermind-details {
  width: 20rem;
}

/* ? 24Hours */
.hours-details {
  width: 20rem;
}

/* ? Adoptly */
.adoptly-details {
  width: 20rem;
}

/* ? Cheft */
.cheft-details {
  width: 20rem;
}

/* ! experience */

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  align-items: start;
  justify-items: center;
}

.timeline-line {
  grid-column: 2;
  margin-top: 15px;
  border-left: 2px solid #240046;
  height: 1000px;
}

.experience-left {
  grid-column: 1;
  text-align: left;
}

.experience-right {
  grid-column: 3;
  text-align: right;
}

/* ! Contact */

.form-container {
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #240046;
  width: 60%;
  border-radius: 15px ;
  box-shadow: 0 0 0 5px #9D4EDD;
  padding: 20px;
  color: #240046;
  margin-bottom: 30px;
}

.contact-form button {
  margin-bottom: 30px;
  color: #240046;
  border-radius: 15px;
}
.contact-form button:hover {
  background-color: #FF6D00;
  box-shadow: 0 0 0 1px #FF9E00;
  margin-bottom: 30px;
}

.contact-form input {
  padding: 10px;
  margin: 2%;
  width: 30vmin;
}

.contact-form textarea {
  padding: 15px;
  width: 50vmin;
}

