/* CSS Custom Properties */

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding: 2vmin; */
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #e4e4e4;
  margin: 0rem;
  color: #240046;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ! About and PP */
.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h1 {
  font-weight: bolder;
}

.about h3 {
  font-weight: bolder;
}

.me-container-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.me-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.me-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#brand-statement {
  width: 50rem;
  display: flex;
  justify-content: center;
  width: 70vmin;
  font-weight: bold;
}

/* ! ABOUT MEDIA RESPONSIVE */

@media (max-width: 550px) {
  .me-container-container {
    display: none;
  }
  .about {
    margin-top: 20px;
  }
}

/* ? software imgs */
.software {
  display: grid; 
  grid-template-columns: repeat(6, 60px);
  grid-gap: 50px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  font-size: 1.5vmin;
}

.software img{
  height: 100%;
  width: 100%;
}

.software-container {
  position: relative;
  height: 5vmin;
  width: 5vmin;
  padding: 2px;
  text-align: center;
}

.software-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #240046;
  text-align: center;
  padding: 5px;
  visibility: hidden; /* Hide the text by default */
  opacity: 0;
  font-weight: bold;
}

.software-container:hover .software-text {
  visibility: visible;
  opacity: 1;
}
.software-container:hover .software-img {
  visibility: hidden;
  opacity: 0;
}

/* ? SOFTWARE MEDIA RESPONSIVE */

@media (max-width: 768px) {
  .software {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 20px;
  }

  .software-container:nth-child(17) {
    grid-column: 2;
  }

  .software-container:nth-child(18) {
    grid-column: 3;
  }
  
}

/* ! Photog */

.photog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

.photography {
  position: relative
}

.photography img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 6px;
}

.photo-text {
  position: absolute;
  bottom: 1%;
  left: 0;
  color: #e4e4e4;
  background-color: rgba(36, 0, 70, 0.7);
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 6px
}

.photography:hover .photo-text {
  opacity: 1; 
}

/* ! PHOTOG MEDIA RESPONSIVE */
@media (max-width: 768px) {
  .photography img {
    width: 98px;
    height: 98px;
  }

  .photo-text {
    width: 98px;
    font-size: 10px;
    bottom: 3%;
    margin: 6px;
  }

}

/* ! Nav */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100px;
  gap: 20px;
  background-color:  #240046;
  opacity: 0.7;
}

.nav-link {
  position: sticky;
  text-decoration: none;
  color: #e4e4e4;
  font-size: 2vmin;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}


.nav-link:hover {
  color: #fc6601;
  font-weight: bold;
}

.nav-link:active {
  color: #fc6601;
  font-weight: bold;
}

.hamburger-btn {
  display: none;
}

.hamburger-item {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-me-container {
  display: none;
}

/* ! NAV MEDIA RESPONSIVE */
@media (max-width: 550px) {

  .nav-me-container-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .nav-me-container {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
  }

  .hamburger-item {
    display: flex;
    background-color: #240046;
    border: none;
    background: none;
  }

  .item.nav-me-container-container {
    align-self: flex-start;
    margin-left: 30px;

  }
  
  .item.hamburger-item {
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .bar {
    background-color: #fc6601;
  }

  .navbar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hamburger-btn {
    cursor: pointer;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: column;
  }

  .navigation-menu ul {
    position:absolute;
    top: 80px;
    left:0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #e4e4e4;
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
    font-weight: bolder;
    font-size: 20px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  .navigation-menu li a {
    color: #fc6601;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 15px;
  }
  .navigation-menu li:hover {
    background-color:#240046;
  }



}

/* ! Portfolio */

.portfolio-container{
  display: grid;
  grid-template-columns: 1fr;
  
}


.mastermind-image{
  object-position: center top;
}

.portfolio-container a {
  grid-column: 2;
}

.port-image-container {
  grid-column: 2; /* Position the image in the "image" area */
  width: 50vmin;
  height: 50vmin;
  background-color: #240046;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 5px #9D4EDD;
  margin-bottom: 30px;
}

.port-image-container  img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px;
}

.port-image-container:hover {
  background-color: #FF6D00;
  box-shadow: 0 0 0 5px #FF9E00;
}

.project-container {
  display: grid;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-details {
  grid-column: 1; /* Position the h1 and p tags in the "proj" area */
}


.port-link {
  text-decoration: none;
  color: #240046;
}
.port-link img {
  text-decoration: none;
  color: #240046;
  border-radius: 15px;
}

.port-link:hover {
  text-decoration: underline;
  color: #fc6601;
}

.git-link-container {
  height: 3vmin;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 0.25vmin #9D4EDD;
}

.git-link {
  height: 100%;
  width: auto;
  display: block;
}

.git-link-container:hover {
  box-shadow: 0 0 0 0.25vmin #fc6601;
}

.project-container p {
  text-align: left;
}

/* ? Mastermind */
.mastermind-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ? 24Hours */
.hours-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ? Adoptly */
.adoptly-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ? Cheft */
.cheft-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.used-software-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  font-size: 1.5vmin;
}

.used-software {
  max-width: 25%;
  padding: 2%;
  max-height: 40px;
}

.used-software-container img{
  height: 100%;
  width: 100%;
  gap: 10px;
}


/* ! PORTFOLIO MEDIA RESPONSIVE */

@media (max-width: 768px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .git-link-container {
    height: 30px;
    width: 30px;
  }
  .port-image-container {
    width: 65vmin;
    height: 65vmin;
  }
  

}

/* ! Individual project show */

.portfolio-show-container {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-show-container h1 {
  grid-column: 1;
}

.portfolio-show-container h3 {
  grid-column: 1;
}

.portfolio-show-container ul {
  grid-column: 1;
  width: 50vmin;
  text-align: center;
}

.portfolio-show-container p {
  grid-column: 1;
  width: 50vmin;
}

.portfolio-show-container a {
  grid-column: 1;
  text-decoration: none;
  text-align: center;
}
.portfolio-show-container a:hover {
  grid-column: 1;
  text-decoration: underline;
  font-weight: bolder;
  color: #fc6601;
}

.portfolio-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.portfolio-img-container {
  grid-column: 2; /* Position the image in the "image" area */
  width: 50vmin;
  height: 65vmin;
  background-color: #240046;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 5px #9D4EDD;
  margin-bottom: 30px;
}


/* ! experience */


.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
  0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15);
  padding: 2em 3em !important;
}

.vertical-timeline-element-title {
  color: #240046;
}



#description {
  margin: 1.5em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
}

.vertical-timeline-element-content:hover #description{
  max-height: 1000px; /* Adjust this value based on your content's maximum height */
  opacity: 1;
}

.vertical-timeline-element-content:hover .expand {
  opacity: 0;
}

.expand {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#9D4EDD; /* Adjust the color as needed */
  cursor: pointer;
  transition: max-height 1s ease-in-out, opacity 2s ease-in-out;
}

.dot:hover {
  background-color: #9D4EDD; /* Adjust the hover color as needed */
}

/* ! Contact */

.form-container {
  margin-bottom: 30px;
  padding: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #240046;
  width: 60%;
  border-radius: 15px ;
  box-shadow: 0 0 0 5px #9D4EDD;
  padding: 20px;
  color: #240046;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.contact-form button {
  margin-bottom: 30px;
  color: #240046;
  border: none;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
  color: #240046;
  font-weight: bolder;

}
.contact-form button:hover {
  background-color: #FF6D00;
  box-shadow: 0 0 0 1px #FF9E00;
  margin-bottom: 30px;
}

.contact-form input {
  padding: 10px;
  margin: 2%;
  width: 30vmin;
  font-family: 'Quicksand', sans-serif;
  color: #240046;
  font-weight: bolder;
}

.contact-form textarea {
  padding: 15px;
  width: 50vmin;
  font-family: 'Quicksand', sans-serif;
  color: #240046;
  font-weight: bolder;

}

.form-container img{
  width: 40px;
  margin-right: 15px ;
  margin-top: 30px;
}

.form-container img:hover{
  width: 45px;
}

/* ! CONTACT MEDIA RESPONSIVE */

@media (max-width: 768px) {
  .contact-form {
    width: 90%;
    box-shadow: 0 0 0 3px #9D4EDD;
  }

  .contact-form input {
    margin: 5%;
    width: 40vmin;
  }

  .contact-form textarea {
    width: 50vmin;
    padding: 30px;
  }
}

/* ! Videos */

.video-container {
  margin-top: 30px;
  margin-bottom: 30px;
}



